[Unit]
Description=connectcap Diagnostics Proxy
After=network.target
After=network-online.target

[Service]
Type=simple
UMask=0027
EnvironmentFile=-/etc/sysconfig/connectcap
ExecStart=/usr/sbin/connectcap $OPTIONS
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

